<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>作业01</title>
  </head>
  <body>
    <!-- 需求: Vue挂载完成后,通过axios发送异步请求到服务端,或者学生列表数据,并通过Vue展示在页面上. -->
    <div id="app">
      <table border="1" cellspacing="0" width="80%">
        <tr>
          <th>编号</th>
          <th>姓名</th>
          <th>图像</th>
          <th>年龄</th>
          <th>性别</th>
          <th>成绩</th>
          <th>等级</th>
        </tr>

        <tr align="center" v-for="(s,i) in students">
          <td>{{i+1}}</td>
          <td>{{s.name}}</td>
          <td>
            <!-- 绑定图片要注意，和其他类型的操作方式不同 -->
            <img
              v-bind:src="s.image"
              height="50"
              width="70"
            />
          </td>
          <td>{{s.age}}</td>
          <td>
            <span v-if="s.gender == 1">男</span>
            <span v-if="s.gender == 2">女</span>
          </td>
          <td>{{s.score}}</td>
          <td>
            <span style="color: green" v-if="s.score >= 85">优秀</span>
            <span style="color: yellow" v-if="s.score >= 60 && s.score < 85">及格</span>
            <span style="color: red" v-if="s.score < 60">不及格</span>
          </td>
        </tr>
      </table>
    </div>
  </body>
  <script src="../js/vue.js"></script>
  <script src="../js/axios-0.18.0.js"></script>
  <script>
    new Vue({
      el: "#app",
      data(){
        return {
            students: [],
        };
      },
      methods: {
        get() {
          axios.get("https://mock.apifox.cn/m1/3128855-0-default/student").then((res) => (this.students = res.data.data) );
        },
      },
      mounted: function () {
        this.get();
      },
    });
  </script>
</html>
